{{set . "title" "WG Utils 2.0: Add Hit"}}
{{template "header.html" .}}

<h1>Edit Monthly Bill Entries</h1>

<form id="form" action="{{ .updateLink }}" accept-charset="UTF-8" method="post">
  <table>
    <tr>
      <td class="aright rpad1em">Enter updated entry total for month ending {{ .month }}:</td>
      <td><input class="aright" type="text" name="ents" id="ents" value="{{.entries}}" size="6" maxlength="4"></td>
    </tr>
    <tr>
      <td class="aright rpad1em">New total:</td>
      <td><input class="aright" type="text" name="newents" id="newents" value="{{.totalEnts}}" size="6" maxlength="4" readonly="readonly"></td>
    </tr>
  </table>
  <div style="padding-top: 4pt">
    <input type="hidden" name="month" value="{{.month}}">
    <input type="hidden" id="saveTotal" value="{{.totalEnts}}">
    <input type="hidden" id="origMonth" value="{{.entries}}">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset" id="reset">
  </div>
</form>

<script src="/public/js/entries-edit-g.js"></script>
<script type="text/javascript">
  window.onunload = function() {
    window.opener.location.reload()
    window.close()
  }
</script>

{{template "footer.html" .}}
