.goodNumber, .manyHits {
  background: #a0ffa0;
  color: black;
}

.badNumber, .noHits {
  background: #ffa0a0;
  color: black;
}

.noDate {
  background: #808080;
}

.oddRow {
  background: #d0d0d0;
}

div.bordered {
    border: outset 1px;
    border-spacing: 0;
}

div.scrollable {
    overflow-y: auto;
}

div.indexUSCounty {
    overflow-x: auto;
}

#graphContainer {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
}

#throbber {
  display: none;
  position: fixed;
}

#dimmer {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
}

#graph {
  position: fixed;
  width: 80%;
  height: 448px;
  background-color: white;
  border: outset 4px;
}

#graphDismiss {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  cursor: pointer;
  padding: 5px;
  border: outset 2px;
}

.denomCell {
  width: 725px;
  border-style: none
}
td.vrule {
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

div.mapThumb {
  width: 250px;
}

img.mapThumb {
  width: 200px;
  cursor: pointer;
}

.rpad2em        { padding-right: 2em; }

div.firsts {
  border: 3px;
  border-color: #0a0;
  border-style: solid;
  color: #0a0;
  display: inline-block;
  padding-right: 2em;
}

td.tab-active {
  border-right: outset 1px;
  border-bottom: outset 3px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 3px;
}

div.tab-active {
  font-weight: bold;
}

td.tab-inactive {
  border-right: outset 1px;
  border-bottom: outset 1px;
  padding: 6px;
}

div.tab-inactive {
  font-weight: normal;
}

#states, #counties {
  width: 5em;
  cursor: pointer;
}

td.innerTable {
  vertical-align: top;
  padding: 5px;
}

div.tableCell {
  text-align: center;
  border: 1px;
  border-style: solid;
  padding: 4px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1px;
}
