{{set . "title" "WG Utils 2.0: Hits"}}
{{template "header.html" .}}

<p>
<a href="{{ index .links "breakdown" }}">Hits Breakdown</a> |
<a href="{{ index .links "new" }}">Add Hit</a>
</p>
<hr>

{{ if or .flashData.FirstOnDate .flashData.FirstInCounty .flashData.GenericMessage }}
<div class="firsts">
<ul>
  {{ if .flashData.FirstOnDate }}
  <li>&#128467; First hit on {{ .flashData.FirstOnDate }}</li>
  {{ end }}
  {{ if .flashData.FirstInCounty }}
  <li>&#128506; First hit in {{ .flashData.FirstInCounty }}</li>
    {{ if gt (len .flashData.CountyBingoNames) 0 }}
    <li>County is part of the following bingo(s):
      <ul>{{ range .flashData.CountyBingoNames }}<li>{{.}}</li>{{ end }}</ul>
    </li>
    {{ end }}
    {{ if gt (len .flashData.AdjacentCounties) 0 }}
    <li>County is adjacent to the following other counties with hits:
      <ul>{{ range .flashData.AdjacentCounties }}<li>{{.}}</li>{{ end }}</ul>
    </li>
    {{ else }}
    <li>County is adjacent to no other counties with hits.</li>
    {{ end }}
  {{ end }}
</ul>
{{ if .flashData.GenericMessage }}<p style="padding-left: 1em">{{ .flashData.GenericMessage }}</p>{{end }}
</div>
<hr>
{{ end }}

<p>
  <a href="{{ index .links "currentYearHits" }}">Show current year's hits</a> |
  <a href="{{ index .links "allHits" }}">Show all hits</a>
</p>

<div>
  <form>
    <table>
      <tr><td class="rpad1em">Serial</td><td><input name="serial" type="text" value="{{index .filters "serial"}}" size="10" maxlength="11"></td></tr>
      <tr><td class="rpad1em">Country</td><td><input name="country" type="text" value="{{index .filters "country"}}" size="10" maxlength="64"></td></tr>
      <tr><td class="rpad1em">State</td><td><input name="state" type="text" value="{{index .filters "state"}}" size="3" maxlength="2"></td></tr>
      <tr><td class="rpad1em">County</td><td><input name="county" type="text" value="{{index .filters "county"}}" size="10" maxlength="64"></td></tr>
      <tr><td class="rpad1em">Year</td><td><input name="year" type="text" value="{{index .filters "year"}}" size="5" maxlength="7"></td></tr>
      <tr>
        <td class="rpad1em">Date sort</td>
        <td>
          <span class="rpad1em"><input type="radio" name="sort" id="sort_asc" value="asc"{{if eq (index .filters "sort") "asc"}} checked="checked"{{end}}>Ascending</span>
          <input type="radio" name="sort" id="sort_desc" value="desc"{{if ne (index .filters "sort") "asc"}} checked="checked"{{end}}>Descending
        </td>
      </tr>
    </table>
    <p><input type="submit" name="commit" value="Filter"> <input type="reset" value="Reset form inputs"></p>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <table class="bordered">
    <tr>
      <th class="bordered">Hit</th>
      <th class="bordered">$</th>
      <th class="bordered">Serial/Series</th>
      <th class="bordered">Hit Date</th>
      <th class="bordered">State</th>
      <th class="bordered">County or City</th>
    </tr>
      {{ range .hits }}
      <tr>
        <td class="bordered aright"><a href="hits/{{.Id}}/edit">{{.Index}}</a></td>
        <td class="bordered aright">{{.Denom}}</td>
        <td class="bordered mono"><a href="bills/{{.BillId}}/edit">{{.Serial}}/{{.Series}}</a> ({{.Count}})</td>
        <td class="bordered"><a class="newWin" href="https://www.wheresgeorge.com/{{.RptKey}}">{{.EntDate}}</a></td>
        <td class="bordered"><a href="hits?country={{.Country}}{{if .State}}&amp;state={{.State}}{{end}}">{{if ne .State "--"}}{{.State}}{{if ne .Country "US"}}, {{.Country}}{{end}}{{else}}{{.Country}}{{end}}</a></td>
        <td class="bordered">{{if eq .Country "US"}}<a href="hits?country={{.Country}}&amp;state={{.State}}&amp;county={{.CountyCity}}">{{end}}{{.CountyCity}}{{if eq .Country "US"}}</a>{{end}}</td>
      </tr>
      {{ end }}
  </table>
</div>

<script src="/public/js/newWin-g.js"></script>

{{template "footer.html" .}}
