{{set . "title" "WG Utils 2.0: Settings"}}
{{template "header.html" .}}

<h1>Settings</h1>
{{ $userTZ := "" }}
{{ if eq .userTZ "" }}{{ $userTZ = "US/Eastern" }}{{ else }}{{ $userTZ = .userTZ }}{{ end }}

<table>
  <tr>
    <td class="rpad1em">Your time zone:</td>
    <td class="rpad1em">
      <select id="s_tz">{{ range .tzList }}
        <option value="{{.TZString}}"{{if eq .TZString $userTZ}} selected="selected"{{end}}>{{.TZDescr}}</option>{{end}}
      </select>
    </td>
    <td colspan="2"><div class="startOff" id="d_saveStatus"></div></td>
  </tr>
</table>

<script src="/public/js/settings-index-g.js"></script>

{{template "footer.html" .}}
