{{set . "title" "WG Utils 2.0: Settings"}}
{{template "header.html" .}}

<h1>Settings</h1>
{{ $userTZ := "" }}
{{ if eq .userTZ "" }}{{ $userTZ = "New_York" }}{{ else }}{{ $userTZ = .userTZ }}{{ end }}

<table>
  <tr>
    <td class="rpad1em">time zone</td>
    <td class="rpad1em">
      <select>{{ range .tzList }}
        <option value="{{.TZString}}"{{if eq .TZString $userTZ}} selected="selected"{{end}}>{{.TZDescr}}</option>{{end}}
      </select>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="rpad1em">wg site cookie</td>
    <td class="rpad1em">
      {{ if eq .haveWgSiteCreds true }}Logged in until ...{{ else }}Not logged in{{ end }}
    </td>
    <td>
      <a href="{{ .wgLoginFormUrl }}">Log in/refresh login</a><div><a href="{{ .clearWgLoginUrl }}">Remove Access</a></div>
    </td>
  </tr>
</table>

{{template "footer.html" .}}
