{{set . "title" "WG Utils 2.0: Settings"}}
{{template "header.html" .}}

<h1>Settings</h1>
{{ $userTZ := "" }}
{{ if eq .userTZ "" }}{{ $userTZ = "US/Eastern" }}{{ else }}{{ $userTZ = .userTZ }}{{ end }}

<table>
  <tr>
    <td class="rpad1em">Your time zone</td>
    <td class="rpad1em">
      <select>{{ range .tzList }}
        <option value="{{.TZString}}"{{if eq .TZString $userTZ}} selected="selected"{{end}}>{{.TZDescr}}</option>{{end}}
      </select>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="rpad1em"><cite>Where's George?</cite> login status</td>
    <td class="rpad1em">
      {{ .wgCredsStatus }}
    </td>
    <td>
      <a href="{{ .wgLoginFormUrl }}">Log in/refresh login</a><div><a href="{{ .clearWgLoginUrl }}">Remove Access</a></div>
    </td>
  </tr>
</table>

{{template "footer.html" .}}
