{{set . "title" "WG Charts and Graphs"}}
{{template "header.html" .}}

{{ if .flash.error }}
<div>Error: <span style="color: red"><strong>{{.flash.error}}</strong></span></div>
{{ end }}
{{ if .flash.success }}
<div><span style="color: #20a020"><strong>{{.flash.success}}</strong></span></div>
{{ end }}

<div class="floatrt"><a href="{{index .links "logout"}}">Log out</a></div>
<div>
{{ if .resPrefix }}
  {{ printf "%c%c%c" (index .resPrefix 0) (index .resPrefix 1) (index .resPrefix 2) }}
{{ else }}
  <a target="_blank" href="{{index .links "hitAdd"}}">Add Hit</a> |
  <a target="_blank" href="{{index .links "hits"}}">Hits</a> |
  <a target="_blank" href="{{index .links "hitsBreak"}}">Hits Breakdown</a> |
  <a target="_blank" href="{{index .links "reports"}}">Reports</a> |
  <a target="_blank" href="{{index .links "bingos"}}">Bingos</a> ||
  <a target="_blank" href="https://www.wheresgeorge.com/ybs.php">Your Bills</a> |
  <a target="_blank" href="https://www.wheresgeorge.com/u:USBUOywJ">Profile</a> |
  <a target="_blank" href="{{index .links "newrelic"}}">APM</a> |
  <a target="_blank" href="/?res=cmx">CMX charts</a> |
  <a target="_blank" href="/?res=pdx">PDX charts</a> ||
  <a target="_blank" href="https://wg-dev.mr-happy.com/">Dev</a> | <a target="_blank" href="https://wg.mr-happy.com/">Prod</a>
{{ end }}
</div>

<hr class="clearrt" />
<div id="hbsMain" class="floatleft rpad1em" style="padding-bottom: 6px"><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs.svg" width="720" height="465" alt="HBS" /></div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs-1.svg" alt="HBS-$1" /> $1
</div>
{{ if ne .resPrefix "cmx_" }}
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/wghbs-2.svg" alt="HBS-$2" /> $2
</div>
{{ end }}
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs-5.svg" alt="HBS-$5" /> $5
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs-10.svg" alt="HBS-$10" /> $10
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs-20.svg" alt="HBS-$20" /> $20
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbs.svg" alt="HBS" /> All
</div>
<hr class="clearleft" />
<div class="indexUSCounty">
  <table>
    <tr>
      <td><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wghbcreg.svg" alt="RHBC" style="margin-right: 2em"
{{ if eq .resPrefix "cmx_" }}
  width="720" height="603"
{{ else }}
  width="414" height="650"
{{ end }} /></td>
      {{ if ne .resPrefix "cmx_" }}<td><img src="https://home.mr-happy.com/{{.imgPrefix}}wghbcreg-2.svg" alt="RHBC" width="414" height="650" /></td>{{ end }}
    </tr>
  </table>
</div>
<hr class="clearleft" />
<div><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgmhb.svg" alt="MHB" width="720" height="465" /></div>
</div>
<hr />
{{ if ne .resPrefix "pdx_" }}
<div><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgfrb.png" alt="FRB" /></div>
<hr />
{{ end }}
<div class="indexUSCounty"><a target="_blank" href="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgushbc.svg"><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgushbc.svg" alt="USHBC" width="1500" height="950" /></a></div>
<hr />
<div class="indexUSCounty"><a target="_blank" href="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgushbc_glob.svg"><img src="https://home.mr-happy.com/{{.imgPrefix}}{{.resPrefix}}wgushbc_glob.svg" alt="USHBC globs" width="1500" height="950" /></a></div>
<hr />
<div class="worldMap"><a target="_blank" href="https://home.mr-happy.com/wgworld.svg"><img src="https://home.mr-happy.com/wgworld.svg" alt="World" width="1500" height="761" /></a></div>

<script src="/public/js/app-index-g.js"></script>

</body></html>
{{template "footer.html" .}}
