{{set . "title" "WG Charts and Graphs"}}
{{template "header.html" .}}

{{ if .flash.error }}
<div>Error: <span style="color: red"><strong>{{.flash.error}}</strong></span></div>
{{ end }}
{{ if .flash.success }}
<div><span style="color: #20a020"><strong>{{.flash.success}}</strong></span></div>
{{ end }}

<div class="floatrt"><a href="{{index .links "logout"}}">Log out</a></div>
<div>
  <a onclick="window.open(this.href); return false" href="https://wg-dev.mr-happy.com/">Dev</a> | <a onclick="window.open(this.href); return false" href="https://wg-dev.mr-happy.com/">Prod</a> ||
  <a onclick="window.open(this.href); return false" href="{{index .links "hitAdd"}}">Add Hit</a> |
  <a onclick="window.open(this.href); return false" href="{{index .links "hits"}}">Hits</a> |
  <a onclick="window.open(this.href); return false" href="{{index .links "hitsBreak"}}">Hits Breakdown</a> |
  <a onclick="window.open(this.href); return false" href="{{index .links "reports"}}">Reports</a> |
  <a onclick="window.open(this.href); return false" href="{{index .links "bingos"}}">Bingos</a> ||
  <a onclick="window.open(this.href); return false" href="https://www.wheresgeorge.com/ybs.php">Your Bills</a> |
  <a onclick="window.open(this.href); return false" href="https://www.wheresgeorge.com/u:USBUOywJ">Profile</a> |
  <a onclick="window.open(this.href); return false" href="{{index .links "newrelic"}}">APM</a> |
  <a onclick="window.open(this.href); return false" href="/?res=cmx">CMX charts</a> |
  <a onclick="window.open(this.href); return false" href="/?res=pdx">PDX charts</a>
</div>

<table>
  <tr><td colspan="11"><hr /></td></tr>
  <tr>
    <td class="denomCell">
      <img src="https://home.mr-happy.com/wghbs.png" alt="HBS" />
    </td><td class="vrule"></td><td class="denomCell">
      <a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc-1.png"><img src="https://home.mr-happy.com/wghbs-1.png" alt="HBS-$1" /></a>
    </td><td class="vrule"></td><td class="denomCell">
      <a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc-2.png"><img src="https://home.mr-happy.com/wghbs-2.png" alt="HBS-$2" /></a>
    </td><td class="vrule"></td><td class="denomCell">
      <a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc-5.png"><img src="https://home.mr-happy.com/wghbs-5.png" alt="HBS-$5" /></a>
    </td><td class="vrule"></td><td class="denomCell">
      <a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc-10.png"><img src="https://home.mr-happy.com/wghbs-10.png" alt="HBS-$10" /></a>
    </td><td class="vrule"></td><td class="denomCell">
      <a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc-20.png"><img src="https://home.mr-happy.com/wghbs-20.png" alt="HBS-$20" /></a>
    </td>
  </tr>
  <tr><td colspan="11"><hr /></td></tr>
</table>
<div><img src="https://home.mr-happy.com/wghbcreg.png" alt="RHBC" /></div>
<hr />
<div><img src="https://home.mr-happy.com/wgmhb.png" alt="MHB" /></div>
<hr />
<div><img src="https://home.mr-happy.com/wgfrb.png" alt="FRB" /></div>
<hr />
<div><a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc.svg"><img src="https://home.mr-happy.com/wgushbc.png" alt="USHBC" /></a></div>
<hr />
<div><a onclick="window.open(this.href); return false" href="https://home.mr-happy.com/wgushbc_glob.svg"><img src="https://home.mr-happy.com/wgushbc_glob.png" alt="USHBC globs" /></a></div>

</body></html>
{{template "footer.html" .}}
