{{set . "title" "WG Charts and Graphs"}}
{{template "header.html" .}}

{{ if .flash.error }}
<div>Error: <span style="color: red"><strong>{{.flash.error}}</strong></span></div>
{{ end }}
{{ if .flash.success }}
<div><span style="color: #20a020"><strong>{{.flash.success}}</strong></span></div>
{{ end }}

<div class="floatrt"><a href="{{index .links "logout"}}">Log out</a></div>
<div>
{{ if .resPrefix }}
  {{ printf "%c%c%c" (index .resPrefix 0) (index .resPrefix 1) (index .resPrefix 2) }}
{{ else }}
  <a class="newWin" href="{{index .links "hitAdd"}}">Add Hit</a> |
  <a class="newWin" href="{{index .links "hits"}}">Hits</a> |
  <a class="newWin" href="{{index .links "hitsBreak"}}">Hits Breakdown</a> |
  <a class="newWin" href="{{index .links "reports"}}">Reports</a> |
  <a class="newWin" href="{{index .links "bingos"}}">Bingos</a> ||
  <a class="newWin" href="https://www.wheresgeorge.com/ybs.php">Your Bills</a> |
  <a class="newWin" href="https://www.wheresgeorge.com/u:USBUOywJ">Profile</a> |
  <a class="newWin" href="{{index .links "newrelic"}}">APM</a> |
  <a class="newWin" href="/?res=cmx">CMX charts</a> |
  <a class="newWin" href="/?res=pdx">PDX charts</a> ||
  <a class="newWin" href="https://wg-dev.mr-happy.com/">Dev</a> | <a class="newWin" href="https://wg.mr-happy.com/">Prod</a>
{{ end }}
</div>

<hr class="clearrt" />
<div id="hbsMain" class="floatleft rpad1em" style="padding-bottom: 6px"><img src="https://home.mr-happy.com/{{.resPrefix}}wghbs.svg" width="720" height="465" alt="HBS" /></div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.resPrefix}}wghbs-1.svg" alt="HBS-$1" /> $1
</div>
{{ if ne .resPrefix "cmx_" }}
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/wghbs-2.svg" alt="HBS-$2" /> $2
</div>
{{ end }}
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.resPrefix}}wghbs-5.svg" alt="HBS-$5" /> $5
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.resPrefix}}wghbs-10.svg" alt="HBS-$10" /> $10
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.resPrefix}}wghbs-20.svg" alt="HBS-$20" /> $20
</div>
<div class="floatleft mapThumb" style="padding-bottom: 4px">
  <img class="mapThumb" src="https://home.mr-happy.com/{{.resPrefix}}wghbs.svg" alt="HBS" /> All
</div>
<hr class="clearleft" />
<div><img src="https://home.mr-happy.com/{{.resPrefix}}wghbcreg.png" alt="RHBC" /></div>
<hr />
<div><img src="https://home.mr-happy.com/{{.resPrefix}}wgmhb.svg" alt="MHB" width="720" height="465" /></div>
<hr />
{{ if ne .resPrefix "pdx_" }}
<div><img src="https://home.mr-happy.com/{{.resPrefix}}wgfrb.png" alt="FRB" /></div>
<hr />
{{ end }}
<div class="indexUSCounty"><a class="newWin" href="https://home.mr-happy.com/{{.resPrefix}}wgushbc.svg"><img src="https://home.mr-happy.com/{{.resPrefix}}wgushbc.png" alt="USHBC" /></a></div>
<hr />
<div class="indexUSCounty"><a class="newWin" href="https://home.mr-happy.com/{{.resPrefix}}wgushbc_glob.svg"><img src="https://home.mr-happy.com/{{.resPrefix}}wgushbc_glob.png" alt="USHBC globs" /></a></div>

<script src="/public/js/app-index-g.js"></script>
<script src="/public/js/newWin-g.js"></script>

</body></html>
{{template "footer.html" .}}
